<div class='modal-offset'>
  <div class='modal-container'>
    <h2 class='modal-title'>Add a new note</h2>
    <form>
      <div class='input-group'>
        <label [htmlFor]="title">Title</label>
        <input type='text' name='title' [(ngModel)]='title' />
      </div>
      <div class='input-group'>
        <label>Tag</label>
        <select [(ngModel)]="tagSelection" name='tagSelection'>
          <option value='Personnal'>Personnal</option>
          <option value='Work'>Work</option>
        </select>
      </div>
      <div class='input-group'>
        <label [htmlFor]="noteContent">Content</label>
        <textarea name='noteContent' [(ngModel)]="noteContent"></textarea>
      </div>

      <div class='buttons'>
        <button class='cancel-btn' (click)='onCancelNewNote()'>Cancel</button>
        <button class='add-btn' (click)="onAddNewNote()">Add</button>
      </div>
    </form>
  </div>
</div>
