<section class='information-section'>
  <h2 class='information-title'>{{ (currentNote$ | async)?.title }}</h2>
  <div class='information-details'>
    <div class='information-categories'>
      <div class='information-category'><mat-icon>note</mat-icon>Tag</div>
      <div class='information-category'><mat-icon>timer</mat-icon>Last Edited</div>
    </div>
    <div class='information-categories-values'>
      <p>{{ (currentNote$ | async)?.tag }}</p>
      <p>{{ (currentNote$ | async)?.lastEdited | date: 'medium' }}</p>
    </div>
  </div>
  <p class='information-text-content'>
    {{ (currentNote$ | async)?.text }}
  </p>
</section>
