aside {
  width: 320px;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid var(--border-color);
}

.logo-title {
  font-size: 54px;
  font-family: 'Birthstone', cursive;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.link {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
}

.link:hover, .selected {
  cursor: pointer;
  background-color: var(--bg-color-element);
}
.selected:hover {
  filter: brightness(0.9);
}

.link:hover .link-arrow, .selected .link-arrow {
  display: block;
}

.link-arrow {
  display: none;
  position: absolute;
  right: 15px;
}