<div class='modal-offset'>
  <div class='modal-container'>
    <h2 class='modal-title'>Add a new note</h2>
    <form>
      <div class='input-group'>
        <label>Title</label>
        <input type='text' />
      </div>
      <div class='input-group'>
        <label>Tag</label>
        <select>
          <option>Personnal</option>
          <option>Work</option>
        </select>
      </div>
      <div class='input-group'>
        <label>Content</label>
        <textarea></textarea>
      </div>

      <div class='buttons'>
        <button class='cancel-btn'>Cancel</button>
        <button class='add-btn'>Add</button>
      </div>
    </form>
  </div>
</div>
